<h1>Edit you list below:</h1>

<form action="/lists" method="POST">
<input type="hidden" name="_method" id="hidden" value="update">
<h3><label for="List Name">List Name: </label>
<input type="text" name="list[name]" value=<%=@list.name%>></h3>
<br>
<%@list.items.each do |item|%>
    <label for="Item Name">Item Name: </label>
    <input type="text" name="items[][name]" value=<%=item.name%>>
    <label for="Price">Price: </label>
    <input type="number" name="items[][price]" value=<%=item.price%>>
    <label for="Ranking">Ranking (on a scale of 1-10):</label>
    <input type="number" name="items[][ranking]" min="1" max="10" value=<%=item.ranking%>>
    <br>
    <% end %>
<input type="submit" value="Update List">    
<input type="reset">
</form>



