<h1>See what's on everyone's list!</h1>


<%@users.each do |user|%>
    <%if !user.lists.empty?%>
        <div class="list">
            <h2><%=user.name%></h2>
            <ul>
                <%user.lists.each do |list|%>
                    <li><a href=<%="/lists/#{list.id}"%>><%=list.name%></a></li> 
                <% end %>  
            </ul> 
            <br>
        </div>       
    <% end %>
<% end %>