<h1>See what's on everyone's list!</h1>

<%@lists.each do |list|%>
    <% if !list.items.empty?%>
        <h3><%=User.find(list.user_id).name%></h3>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Ranking</th>
            </tr>
            <%list.items.each do |item|%>
                <tr>
                    <td><%=item.name%></td>
                    <td><%=item.price%></td>
                    <td><%=item.ranking%></td>
                </tr>
            <% end %>
    
        </table>
    <% end %>
<% end %>