<h1>See what's on everyone's list!</h1>


<%@users.each do |user|%>
    <%if !user.lists.empty?%>
        <h2><%=user.name%></h2>
        <ul>
            <%user.lists.each do |list|%>
                <li><h3><a href=<%="/lists/#{list.id}"%>><%=list.name%></a></h3></li> 
            <% end %>  
        </ul>    
        <br>
    <% end %>
<% end %>