<h1>Create a new list below!</h1>

<form action="/lists" method="POST">
<h3><label for="List Name">List Name: </label>
<input type="text" name="list[name]"></h3>
<br>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]" min="0">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>

<br>
<input type="submit" value="Create List!">




</form>