

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header {
    padding: 40px;
    text-align: center;
    background: red;
    color: white;
    font-size: 30px;
  }
  .header img {
    width: 50%;
  }

  .header #title {
    font-family: 'Sigmar One', cursive;
  }

  div#welcome {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  div#welcome a:link, a:visited {
    background-color: #FF0000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid 1px black;
  }

  div#welcome a:hover {
    background-color: green;
  }
  
  .error {
    color: #FF0000;
  }

  .success {
    color: rgb(7, 206, 7)
  }

  .profile div {
    display: inline-block;
    width: 30%;
    text-align:center
  }

  .large_number {
    font-size: 6em;
    padding-top: 15px;
    padding-bottom: 18px;
    color: rgb(0, 73, 0)
  }

  .large_number a {
    text-decoration: none;
  }

  
  .large_number a:visited {
    color: rgb(0, 73,0);
  }
  
  .large_number a:hover, a:active {
    color: red;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  h3#created_by {
    text-align: center;
  }

  th {
    border-bottom: 1px dashed rgb(143, 46, 46);
  }

  th, td {
    padding: 7px;
    text-align: left;
    width: 20%;
    font-size: larger;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  

  .list ul li {
    list-style: inside url("../images/Red_Gift_Box_with_Green_Bow_PNG_Clip_Art_Image.png");
    padding-left: 5%;
  }

  .list a:link {
    color: rgb(0, 73, 0)
  } 

  .list a:visited {
    color: rgb(0, 129, 0)
  }

  .list a:hover {
    color: rgb(4, 233, 4);
  }

  html, body {
    height: 100%;
    width: 100%;
    background: url("../images/Blue_Paper.png") no-repeat;
  }

  form {
    text-align: center;
  }

  input {
    padding: 5px;
    margin-bottom: 3px;
  }

  input[type=text] {
    width: 200px;
  }

  input[type=number] {
    width: 60px
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: ;
    color: #333;
    font-family: 'Mountains of Christmas', cursive;
    line-height: 18px;
  }

  .wrapper {
    background: white;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  .nav {
      text-align: center;
      margin: 20px 0 0 ;
      padding: 5px 0;
      background-color: #FF0000;
  }

  .nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
  }
  
  .nav li {
     display: inline-block;
     padding: 5px 5px;
  }
  
  .nav a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .80em;
    text-decoration: none;
  }

  .nav a:link, a:visited {
    color: whitesmoke;
    font-size: larger;
  }

  .nav a:hover,{
    color: rgb(0, 129, 0);
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 20px;
  }

 
  h2 {
    border-bottom: 2px rgb(101, 100, 100) solid;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }


  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
