

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header {
    padding: 40px;
    text-align: center;
    background: #71dc98;
    color: white;
    font-size: 30px;
  }

  .header #title {
    font-family: 'Sigmar One', cursive;
  }

  div#welcome {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  div#welcome a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid 1px black;
  }

  div#welcome a:hover, a:active {
    background-color: green;
  }
  
  .error {
    color: #FF0000;
  }

  .success {
    color: rgb(7, 206, 7)
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  th {
    border-bottom: 1px dashed rgb(143, 46, 46);
  }

  th, td {
    padding: 7px;
    text-align: left;
    width: 20%;
    font-size: larger;
  }
  
  tr:hover {background-color: #f5f5f5;}


  html, body {
    height: 100%;
    width: 100%;
    background: url("../images/christmas-lights.jpg") round;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: ;
    color: #333;
    font-family: 'Mountains of Christmas', cursive;
    line-height: 18px;
  }

  .wrapper {
    background: url(../images/white-paper.jpeg) no-repeat;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  .nav {
    
      text-align: center;
      margin: 20px 0 0 ;
      padding: 5px 0;
      background-color: #9f0f0fcd;
  }

  .nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
  }
  
  .nav li {
     display: inline-block;
     padding: 5px 5px;
  }
  
  .nav a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .80em;
    text-decoration: none;
  }

  .nav a:link {
    color: whitesmoke;
    font-size: larger;
  }

  .nav a:visited {
    color: rgb(233, 233, 233)
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
  }

  h2 {
    border-top: 2px solid rgb(252, 251, 251);
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }


  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
