<h1>Welcome, <%=@user.name%>!</h1>

<h3>What would you like to do?</h3>
<% if !@user.lists.empty?%>
    <a href="/mylists">View Your Lists</a>
<% end %>
<a href="/lists/new">Create New List</a>
<a href="/lists">View Everyone's List</a>



<a href="/logout">Log Out</a>