<h1>Welcome, <%=@user.name%>!</h1>

<div class="profile">
    <div id="list_count">
        <p>You have</p>
        <p class="large_number"><%= @user.lists.length%></p>
        <p>Lists</p>
    </div>

    <div id="item_count">
        <p>Containing</p>
        <p class="large_number"><%= @user.items.length%></p>
        <p>Items</p>
    </div>

    <div id="countdown">
        <p>There are</p>
        <P class ="large_number"><%= days_to_xmas %></P>
        <p>Days until Christmas!</p>
    </div>


</div>



<a href="/logout">Log Out</a>